[user]
  email = {{ onepasswordRead (printf "op://%s/git-signing-work/email" .opVault) | trim }}
  name = John Eckhart
  signingkey = {{ onepasswordRead (printf "op://%s/git-signing-work/public key" .opVault) | trim }}
