[user]
  name = John Eckhart
  email = jeckhart@hey.com
  signingkey = {{ onepasswordRead (printf "op://%s/git-signing-personal/public key" .opVault) | trim }}
[github]
  user = jeckhart
[pull]
  ff = only
  rebase = false
[push]
  default = simple
[credential]
  helper = {{ if eq .chezmoi.os "darwin" }}osxkeychain{{ else }}store{{ end }}
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[gpg]
  format = ssh
[gpg "ssh"]
  program = {{ if eq .chezmoi.os "darwin" }}/Applications/1Password.app/Contents/MacOS/op-ssh-sign{{ else }}/opt/1Password/op-ssh-sign{{ end }}
  allowedSignersFile = ~/.ssh/allowed_signers

[includeIf "gitdir:~/projects/work/**"]
  path = ~/.gitconfig.work

[includeIf "gitdir:~/projects/shopkeep/**"]
  path = ~/.gitconfig.work

[includeIf "gitdir:~/projects/lsp/**"]
  path = ~/.gitconfig.work

[includeIf "gitdir:~/projects/lightspeed-payments/**"]
  path = ~/.gitconfig.work

[includeIf "gitdir:~/projects/lightspeedretail/**"]
  path = ~/.gitconfig.work

[includeIf "gitdir:~/projects/personal/**"]
  path = ~/.gitconfig.personal

[includeIf "gitdir:~/projects/vela/**"]
  path = ~/.gitconfig.vela
