[user]
  name = John Eckhart
  email = jeckhart@hey.com
  signingkey = {{ onepasswordRead (printf "op://%s/git-signing-personal/public key" .opVault) | trim }}
[github]
  user = jeckhart
[pull]
  ff = only
  rebase = false
[push]
  default = simple
[credential]
  helper = {{ if eq .chezmoi.os "darwin" }}osxkeychain{{ else }}store{{ end }}
{{- if .isWSL2 }}
[core]
  sshCommand = /mnt/c/Windows/System32/OpenSSH/ssh.exe
{{- end }}
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[gpg]
  format = ssh
[gpg "ssh"]
  program = {{ if eq .chezmoi.os "darwin" }}/Applications/1Password.app/Contents/MacOS/op-ssh-sign{{ else if .isWSL2 }}op-ssh-sign.exe{{ else }}/opt/1Password/op-ssh-sign{{ end }}
  allowedSignersFile = ~/.ssh/allowed_signers
[gitbutler]
  aiModelProvider = anthropic
  aiAnthropicKeyOption = butlerAPI

[includeIf "gitdir:~/projects/work/**"]
  path = ~/.config/git/config.work

[includeIf "gitdir:~/projects/ch/**"]
  path = ~/.config/git/config.work

[includeIf "gitdir:~/projects/shopkeep/**"]
  path = ~/.config/git/config.work

[includeIf "gitdir:~/projects/lsp/**"]
  path = ~/.config/git/config.work

[includeIf "gitdir:~/projects/lightspeed-payments/**"]
  path = ~/.config/git/config.work

[includeIf "gitdir:~/projects/lightspeedretail/**"]
  path = ~/.config/git/config.work

[includeIf "gitdir:~/projects/personal/**"]
  path = ~/.config/git/config.personal

[includeIf "gitdir:~/projects/vela/**"]
  path = ~/.config/git/config.vela
