{{- $config := joinPath .chezmoi.homeDir ".config/docker/config.json" -}}
{
  "auths": {{ if stat $config }}{{ output "jq" "-c" ".auths // {}" $config }}{{ else }}{}{{ end }},
  "credsStore": "{{ if eq .chezmoi.os "darwin" }}osxkeychain{{ else }}pass{{ end }}",
  "features": {
    "buildkit": "true"
  }
}
